
<div class="container">
  <div class="sidebar">
    <div class="semWise"> 
      <div class="sem1">
        <div class="AdvOption" (click)="showNested('sem1')">
          <h5>First Semester</h5>
          <div class="caret-button" id="toggleButton">
          </div>
        </div>
      </div>
      <div class="sem2">
        <div class="AdvOption" (click)="showNested('sem2')">
          <h5>Second Semester</h5>
          <div class="caret-button" id="toggleButton">
         
          </div>
        </div>
      </div>
      <div class="sem3">
        <div class="AdvOption" (click)="showNested('sem3')">
          <h5>Third Semester</h5>
          <div class="caret-button" id="toggleButton">
           
          </div>
        </div>
      </div>
      <div class="sem4">
        <div class="AdvOption" (click)="showNested('sem4')">
          <h5>Fourth Semester</h5>
          <div class="caret-button" id="toggleButton">
            
          </div>
        </div>
      </div>
      <div class="sem5">
        <div class="AdvOption" (click)="showNested('sem5')">
          <h5>Fifth Semester</h5>
          <div class="caret-button" id="toggleButton">
            
          </div>
        </div>
      </div>
      <div class="sem6">
        <div class="AdvOption" (click)="showNested('sem6')">
          <h5>Sixth Semester</h5>
          <div class="caret-button" id="toggleButton">
          
          </div>
        </div>
      </div>
      <div class="sem7">
        <div class="AdvOption" (click)="showNested('sem7')">
          <h5>Seventh Semester</h5>
          <div class="caret-button" id="toggleButton">   
          </div>
        </div>
      </div>
      <div class="elective">
        <div class="AdvOption" (click)="showNested('sem8')">
          <h5>Electives</h5>
          <div class="caret-button" id="toggleButton">
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right pane to display details of the selected semester -->
  <div class="content">
    <div *ngIf="sem1" class="sem1Detail">
      <!-- Semester 1 table content here -->
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th style="width: 40%;">Subject</th>
            <th>Resources</th>
            <th>PYQ</th>
            <th>Video Reference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sem1subject; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.subject }}</td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="sem2" class="sem2Detail">
      <!-- Semester 2 table content here -->
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th style="width: 40%;">Subject</th>
            <th>Resources</th>
            <th>PYQ</th>
            <th>Video Reference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sem2subject; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.subject }}</td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="sem3" class="sem3Detail">
      <!-- Semester 3 table content here -->
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th style="width: 40%;">Subject</th>
            <th>Resources</th>
            <th>PYQ</th>
            <th>Video Reference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sem3subject; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.subject }}</td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="sem4" class="sem4Detail">
      <!-- Semester 4 table content here -->
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th style="width: 40%;">Subject</th>
            <th>Resources</th>
            <th>PYQ</th>
            <th>Video Reference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sem4subject; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.subject }}</td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="sem5" class="sem5Detail">
      <!-- Semester 5 table content here -->
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th style="width: 40%;">Subject</th>
            <th>Resources</th>
            <th>PYQ</th>
            <th>Video Reference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sem5subject; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.subject }}</td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="sem6" class="sem6Detail">
      <!-- Semester 6 table content here -->
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th style="width: 40%;">Subject</th>
            <th>Resources</th>
            <th>PYQ</th>
            <th>Video Reference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sem6subject; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.subject }}</td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="sem7" class="sem7Detail">
      <!-- Semester 7 table content here -->
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th style="width: 40%;">Subject</th>
            <th>Resources</th>
            <th>PYQ</th>
            <th>Video Reference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sem7subject; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.subject }}</td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
            <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    
<div class="elective" *ngIf="sem8">
  <h5>Theory and Algorithms Code</h5>
  <table>
      <thead>
        <tr>
          <th>S.No.</th>
          <th style="width: 40%;">Subject</th>
          <th>Resources</th>
          <th>PYQ</th>
          <th>Video Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of algoElectiveSubs;let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.subject }}</td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
    <h5>Systems Code</h5>
    <table>
      <thead>
        <tr>
          <th>S.No.</th>
          <th style="width: 40%;">Subject</th>
          <th>Resources</th>
          <th>PYQ</th>
          <th>Video Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of systemsElectiveSubs;let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.subject }}</td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
    <h5>Data Science and Machine Intelligence</h5>
    <table>
      <thead>
        <tr>
          <th>S.No.</th>
          <th style="width: 40%;">Subject</th>
          <th>Resources</th>
          <th>PYQ</th>
          <th>Video Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of machineElectiveSubs;let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.subject }}</td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
    <h5>Applications Code</h5>
    <table>
      <thead>
        <tr>
          <th>S.No.</th>
          <th style="width: 40%;">Subject</th>
          <th>Resources</th>
          <th>PYQ</th>
          <th>Video Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of appcodeElectiveSubs;let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.subject }}</td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-book" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-file" aria-hidden="true"></i></a></td>
          <td><a href="{{ item.resource }}" class=""><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
    </div>   
      </div>
    </div>

